.normal-page-container {
   width: 100%;
   height: 100%;
   padding-top: $navbar-height;
}

.content-positioner {
   width: 100%;
   height: 100%;
   position: relative;
   transition: padding-left 225ms cubic-bezier(0, 0, 0.2, 1) 0s; //musi byt stejne jako u sidebaru (z MU-I dat)
   &.sidebar-open {
      // width: calc(100% - $sidebar-width);
      padding-left: $sidebar-width;
   }
}

.content-container {
   padding: 8px;
   width: 100%;
   height: 100%;
}

.poster {
   width: 100%;
}