.navbar-and-content-container {
   transition: width, margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0s; //musi byt stejne jako u sidebaru (z MU-I dat)
   &.sidebar-open {
      width: calc(100% - $sidebar-width);
      margin-left: $sidebar-width;
   }

   main {
      padding: 10px;
   }
}
