@import "../environment/variables.scss";

.rounded-icon {
   height: 46px;
   width: 46px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   text-decoration: none;
   cursor: pointer;
   font-size: 1.1rem;
}
.social-icon {
   @extend .rounded-icon;
   border: 1px solid;
   transition: 0.3s;
   &:hover {
      filter: brightness(45%);
   }
}

.facebook-f-icon {
   color: $facebook-color;
   border-color: $facebook-color;
}

.google-icon {
   color: $google-color;
   border-color: $google-color;
}

.twitter-icon {
   color: $twitter-color;
   border-color: $twitter-color;
}

.linkedin-in-icon {
   color: $linkedin-in-color;
   border-color: $linkedin-in-color;
}

.lock-icon {
   @extend .rounded-icon;
   background-color: $blue-theme-primary;
   color: white;
}

.user-status-container {
   &.online span {
      background-color: $online-color;
      color: $online-color;
   }
   &.idle span {
      background-color: $idle-color;
      color: $idle-color;
   }
   &.offline span {
      background-color: $offline-color;
      color: $offline-color;
   }
   & span {
      box-shadow: 0 0 0 2px #e2e2e2;
   }
}
