.rounded-icon {
   height: 46px;
   width: 46px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   text-decoration: none;
   cursor: pointer;
   font-size: 1.1rem;
}

.social-icon {
   @extend .rounded-icon;
   border: 1px solid;
   transition: 0.3s;
   &:hover {
      filter: brightness(45%);
   }

   &.facebook-f-icon {
      color: $facebook-color;
      border-color: $facebook-color;
   }
   
   &.google-icon {
      color: $google-color;
      border-color: $google-color;
   }
}

.lock-icon {
   @extend .rounded-icon;
   background-color: $blue-theme-primary;
   color: white;
}

.coin-icon {
   background-color: #FFC843;
   border-radius: 50%;
   position: relative;
   & img {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      filter: invert(77%) sepia(50%) saturate(7330%) hue-rotate(13deg) brightness(96%) contrast(101%);
   }
}
