.game-container {
   aspect-ratio: 1/1;
   //max width and height set by javascript
   border: solid black 4px;
}

.game-row {
   // display: flex;
   // flex-wrap: nowrap;
   //% width and height set by javascript
   display: flex;
}

.game-cell {
   display: inline-block;
   width: 20px;
   height: 20px;
   //% width and height set by javascript
   min-width: 20px;
   min-width: 20px;
   border: solid black 1px;
   text-align: center;
   font-size: 20px;
   caret-color: transparent;

   &.uneditable {
      font-weight: 600;
   }

   &:focus {
      // border: brown solid 2px;
      outline-color: blue;
   }

   &.diagonal-highlight {
      background-color: $blue-theme-primary;
   }

   &.invalid {
      background-color: $error-color;
   }
}

.box-right-border {
   border-right-width: 4px;
}

.box-down-border {
   border-bottom-width: 4px;
}
