.sidebar {
   & .sidebar-header {
      height: $navbar-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 16px;
      // padding-right: 16px;
   }

   & .sidebar-section {
      padding-top: 5px;
      padding-bottom: 5px;
   }

   & .sidebar-item {
      padding: 8px 16px;
   }

   & .sidebar-list-item {
      color: inherit;
      text-decoration: inherit;
      min-width: 35px;

      & .icon-container {
         min-width: 26px;
         min-height: 26px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }

   width: $sidebar-width;
}
