
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto, sans-serif;
}

html, body {
   width: 100%;
   height: 100%;
}

.center-children {
   display: flex;
   align-items: center;
   justify-content: center;
}

.center-in-viewport {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}