$blue-theme-primary: #2196f3;
$facebook-color: #4267b2;
$google-color: #de5246;
$twitter-color: #00acee;
$linkedin-in-color: #0e76a8;
$online-color: #44b700;
$idle-color: #f57c00;
$offline-color: #dc004e;